.header {
    display: flex;
    align-items: center;
}
.header .container {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
.header .logo {
    max-height: 32px;
}

.tile-group {
    padding-left: 25px;
    
}
