.sidenav {
    background-color: rgb(13, 39, 126);
    width: 200px;   
}

.sidenav a {
    color: #fff
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: a16px;
    background-color: #fff;
}